span.labeled-text-label, span.label-dots {
    font-weight: bold;
}

div.edit-employee-list {
    padding: 0px 10px !important;
}

.text-nowrap {
    white-space: nowrap !important;
}

span.title {
    color: black !important;
    font-weight: bold !important;
}

.opacity-half {
    opacity: .5;
}

.align-center {
    text-align: center !important;
    display: flex !important;
    align-content: center !important;
    justify-content: center !important;
}

.text-center {
    text-align: center !important;
}